@font-face {
    font-family: 'Poppins';
    font-style:  normal;
    font-weight: 400;
    src: url("./webfonts/poppins-latin-400-normal.woff2") format("woff2");
}
  
@font-face {
    font-family: 'Poppins';
    font-style:  normal;
    font-weight: 500;
    src: url("./webfonts/poppins-latin-500-normal.woff2") format("woff2");
}
  
@font-face {
    font-family: 'Poppins';
    font-style:  normal;
    font-weight: 700;
    src: url("./webfonts/poppins-latin-700-normal.woff2") format("woff2");
}

@font-face {
    font-family: 'Roboto';
    font-style:  normal;
    font-weight: 300;
    src: url("./webfonts/roboto-latin-300-normal.woff2") format("woff2");
}
  
@font-face {
    font-family: 'Roboto';
    font-style:  normal;
    font-weight: 400;
    src: url("./webfonts/roboto-latin-400-normal.woff2") format("woff2");
}